# cp .env.example .env

# PostgreSQL
POSTGRES_USER=feeduser
POSTGRES_PASSWORD=feedpass
POSTGRES_DB=feeddb

# MinIO 
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=feed-files

# domain
MINIO_PUBLIC_ENDPOINT=localhost

# JWT
JWT_SECRET=CHANGE_ME_super_secret_dev_key_min_32_chars

ADMIN_EMAIL=admin@example.com